* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  padding: 10px 14px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.filter-btn.active {
  background: black;
  color: white;
}

li {
  list-style: none;
  background: #fafafa;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.actions {
  display: flex;
  gap: 6px;
}

.edit-input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}